# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Streamlit secrets
.streamlit/secrets.toml

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

*.pkl